[2017-08-27 11:40] hanyuone opened #1 "bindgen.cpp:1:10: fatal error: 'clang/Tooling/CommonOptionsParser.h' file not found"
This is what I get when I try to run `crystal deps` with `Qt5.cr`, with the `master-ready-to-use` branch.

[code]

[2017-08-27 11:42] Papierkorb commented on #1
As given in the the [README](https://github.com/Papierkorb/bindgen#development-dependencies), you require a full installation of libraries and development headers of Clang, version `4.0.1`.

[2017-08-27 12:21] Papierkorb commented on #1
Please retry `crystal deps` (Or `shards update` if you use that), and then run your program. It should work now without clang.

[2017-10-08 13:12] oprypin opened #2 "Generated `void *` function not returning anything"
When generating [qt5.cr](https://github.com/Papierkorb/qt5.cr) I get the following code generated:

[code]

Meanwhile, the [pre-generated branch](https://raw.githubusercontent.com/Papierkorb/qt5.cr/393a82c924136eda790cb821bc88da1e4df95ad6/ext/qt_binding.cpp) has the following:

[code]

[code]

[code]

Code used to generate:
[code]

[2017-10-08 13:29] #2 closed

[2018-04-25 14:21] jeromegn opened #3 "fatal error: 'memory' file not found"
Note: I've successfully got bindgen to work under macos. I had to modify the scripts a bit, but I was able to compile clang and everything. I just couldn't get `-ltinfo`, I just removed it for now.

I don't think I'll succeed, but I'm trying to generate bindings for libv8.

One of the first things it includes is `<memory>`. Which is part of the stdlib. My .yml config looks like this:

[code]

I ge

[2018-04-25 14:34] Papierkorb commented on #3
Hello,

The `parser.files` section shouldn't need `memory`, as its a system header (Not `memory.h`, the C++ stdlib headers don't have any ending).  That section is only needed to tell Bindgen (Actually the clang parser part) where to find the declarations.  If a normal C++ program only needs to `#include <v8.h>`, then that's all you need too.

The error looks like the `clang` part doesn't find its

[2018-04-25 16:50] jeromegn commented on #3
This is what I get when I run it with VERBOSE=1

[code]

[2018-04-25 17:06] jeromegn commented on #3
As for the spec, I got this:

[code]

Pretty good!

[2018-04-25 18:06] Papierkorb commented on #3
That whole thing there is the invocation command of the clang part.  Instead of

you can also just give it the path to your `v8.h`.  Run that command, the error output should be the same what you got before.

If you can get that command to run, you'll get bindgen to work.  So that's what you want to focus on.  You can check `clang/find_clang.cr` on how it dissects your systems clang to get the inf

[2018-04-25 18:13] jeromegn commented on #3
Ok, adding the resource-dir option fixed it, but the JSON is full of empty objects:

[code]

[2018-04-25 18:15] Papierkorb commented on #3
With that invocation that's an expected output.  Bindgen doesn't "grab everything", only what you want it to.  Please check the `TEMPLATE.yml` for further information.

[2018-04-25 18:40] jeromegn commented on #3
Oh nice, adding one class produced a big JSON output.

I had to change the runner.cr to pass this argument I need to make it work with the usage from the README. I'm not sure where I should add it in the build process so I don't have to change the bindgen package.

It seems to work, there are a lot of coupling between classes in v8, I'm trying to find a simple class to get a "win" 😄Unfortunately I

[2018-04-25 19:03] Papierkorb commented on #3
The README is fun and all, but the main documentation is in the `TEMPLATE.yml`.  Don't try to guess all of the functionality just from `qt.yml`.  The `TEMPLATE.yml` is the definitive authority on what works, and how it works.  In your case, that'd be the `parser.flags` array.  This is a temporary fix though to make it work on MacOS.  A proper fix would incorporate this ideally into the `clang/find

[2018-04-25 19:54] jeromegn commented on #3
Thanks, that helps!

Looks like it's working well. The TEMPLATE has great comments, but I didn't know what I didn't know before, meaning I didn't know what to make of a lot of the comments in there. Now they make more sense.

While I've got you here, I'm not sure how to add a container like `v8::Local<T>`. Here's the class definition for reference: https://v8docs.nodesource.com/node-9.3/de/deb/cla

[2018-04-25 20:12] Papierkorb commented on #3
The template instantiation support is quite in its beginnings, as I simply didn't need it much with Qt (Qt was the driving factor behind bindgen after all).  A `sequential` container instantiation expects the C++ class to respond like a sequential STL container.  The `Local<T>` class there looks like a smart pointer? That won't cut it :|

While that feature would be neat, I don't have the time rig

[2018-04-25 20:28] jeromegn commented on #3
Yes, I think a converter would do the trick.

I think there are issues with the v8 namespacing. If I don't manually write those `types` in addition to the `classes`, it doesn't seem to be able to reach them.

I wasn't expecting perfect bindings generation, this shard already surpasses my wildest dreams ;) I have a feeling it's generating the right structs and functions. We'll see once I can actual

[2018-04-25 20:39] Papierkorb commented on #3
Oh shit. Well, that's going to be nasty.  First there's the issue with there not being proper template instantiation support that's going to bite you here. (Although I think for this having a "smart pointer" specialization as there is for sequential containers would be neat, as that idiom is all over the place in C++).

That aside, the bigger issue is mixing the ownership model of C++ (Well, `std:

[2018-04-27 15:40] jeromegn commented on #3
Would using a C bridge similar to https://github.com/augustoroman/v8 help? I expect I'd run into the same problems with pointers getting freed.

However, it probably would be a simpler bridge given the nicer bindings API in Crystal.

[2018-04-27 15:42] Papierkorb commented on #3
As long no one feels like implementing smart pointer support, using a wrapper that "hides" them will help.  Bindgen has facilities to wrap C libraries back into classes.

[2018-08-23 07:56] docelic opened #5 "'crystal deps' no longer exists"
When I add bindgen to a project and run 'shards', the following happens:

[code]

This is on Crystal 0.26.0 with a new/empty project created with 'crystal init app'.
This message happens only with bindgen, not with other shards.

Any ideas? Thanks!

[2018-08-24 00:11] Sevensidedmarble commented on #5
Try specifying master branch:

[code]

Crystal shards is a little weird about not grabbing the latest version for some reason. I don't understand why.

[2018-08-26 21:10] Papierkorb commented on #5
Now I remember what I forgot when I merged the recent PRs: Bumping the version to make shards happy.  @docelic Can you confirm that it's fixed now without manually giving the `branch:`?

[2018-08-26 23:04] docelic commented on #5
Hey @Papierkorb , yes, it's fixed now, thanks!

[2018-09-19 10:45] ZaWertun opened #6 "Qt-5.11: Bindgen generates binding with duplicate values in enum Qt::Key"
Here is part of enum Qt::Key that causing compilation errors (enum 'Qt::Key' already contains a member named 'DeadA'):
[code]

Bug caused by new values for enum Key entroduced in Qt 5.11:
[code]

After `camelcase` translation both `Dead_a` and `Dead_A` becomes `DeadA` :confused:

[2018-09-19 15:58] Papierkorb commented on #6
Well that sucks.  Can you disable camel-casing for this particular enum and PR it?

[2018-09-20 10:32] ZaWertun opened #9 "clang/find_clang.cr can't find installed clang on Fedora 28"
Though it works after this patch:
[code]

Also I've got strange error from crystal when executing `File.basename(path)[/^lib([^.]+)\.a$/, 1]`, something about null reference, so I rewrited it with:
[code]

Extra path processing with `File.expand_path` eliminates horrible paths with lot of `../../../` inside.

It would be nice if you test this patch on systems other than Fedora.

[2018-09-23 07:39] docelic commented on #5
It seems that this issue still persists in some way.

I want to create a test app and have this in its shard.yml:

[code]

When I run 'shards' it prints:

[code]

[2018-12-27 00:26] dscottboggs opened #12 "9223372036854775808 in a macro is expected to evaluate to 9223372036854775808_u64 but gets interpreted as an Int64 instead"
There is still one issue that remains, when running the specs:

[code]

I'm really not sure why that's happening but it could cause some nasty bugs

[2019-01-16 21:46] dmitriy-serdyuk opened #14 "Undefined reference when building bindgen"
I'm trying to build ubuntu docker and getting this error:

[code]

Similar error when trying to build by hand.

[2019-08-27 10:21] shayneoneill opened #18 "Issue with newer Clangs."
I'm trying to get this working with a newer clang (My system has clang 7 or 8, cant remember , I'm on a different machine right now.

First issue is

https://www.mail-archive.com/cfe-commits@lists.llvm.org/msg73202.html

QualTypeNames.h has been moved into AST

Also in include/clang_type_name.hpp theres a reference to <PointerType> and the compiler isnt sure if the right namespace refers to  clang

[2019-08-27 10:23] shayneoneill commented on #18
Oh looking at PRs https://github.com/Papierkorb/bindgen/pull/8 seems to cover it

[2019-09-01 21:08] kalinon commented on #14
I also get these errors on Linux
[code]

[2019-09-02 01:35] kalinon commented on #12
I think this is an issue with the JSON parser in the tests.

Test script:
[code]

Output:
[code]

[2019-09-04 15:29] dscottboggs commented on #12
I see, thank you!

[2019-12-18 16:33] thedeadferryman opened #19 "Bindgen catches segmentation fault"
When executing `tool.sh`, I get the following error:
[code]
Going deeper with LLDB:
`lldb lib/bindgen/clang/bindgen -- ..args..`
Gives the following result:
[code]

[2020-02-12 17:48] ancorgs opened #21 "Problems with `std::vector`... and more"
I'm trying to use this to create bindings for this project. https://github.com/openSUSE/libstorage-ng

But I'm having problems when it comes to collections. I can't find the right incantations I must use in `TEMPLATE.yml` to make it work.

To illustrate the problems, I have created a repository with a super-small subset of libstorage-ng (only one struct, one function and one enum). The README in t

[2020-05-06 17:22] docelic commented on #14
Hey do we have a solution for this? I tried ideas from https://github.com/msys2/MINGW-packages/issues/4593 which consist of specifying -lclangEdit last, downgrading llvm 7 to 6, and/or re-archiving libclangEdit.a to solve a symbol versioning issue.

The error is the same on llvm 7 and 6 from Debian, and llvm 6 and 5.0.2 from llvm.org.

But there are other errors before the ones pasted. Looking at

[2020-05-07 20:25] docelic opened #23 "Renewed maintenance of bindgen"
Hello @acoolstraw, @jreidinger , @kalinon , @lbguilherme ,  @ZaWertun

Stefan was kind to give me write access to the bindgen/qt5 repository. I would like to work on bindgen so that it builds again and runs tests successfully, and then to produce current/working Qt bindings.

Any interest or contributions from you would be much appreciated - either in the form of PRs or general comments/insights (

[2020-05-07 20:50] kalinon commented on #23
Yes. i have a fork that has some changes to improve the build system. Ill open a PR. I suggest you also run a `crystal tool format` on the repo. as it causes many formatting changes in the PRs to make it seem larger.

[2020-05-07 21:07] kalinon commented on #23
Seems i already have a PR for formatting: #15

[2020-05-08 08:21] Papierkorb commented on #23
Hello,

I'm delighted in the continued interest of my projects! My thanks go out to everyone who wants to help improve it! I'm sure with y'all on board they can shine again, now with a bus factor beyond 1 😅

I'll be back at some point (but not to pry away maintainership). Coding is fun, just have to sort a few other things out first.

Cheers!

[2020-05-08 17:09] #5 closed

[2020-05-08 18:43] acoolstraw commented on #23
@ZaWertun's qt5.cr fork compiled smoothly until a point when it breaks. Someone told me a dependency is needed but they don't remember which one.

[2020-05-08 18:44] acoolstraw commented on #23
I have also committed some changes to my fork, but so far I haven't been able to get it to work.

[2020-05-08 19:48] kalinon commented on #12
So looking into this further essentially JSON does not support `unsigned long long`.

From the [RFC](https://tools.ietf.org/html/rfc7159#section-3)
[code]

So the real issue here is that bindgen is passing the uint64 via JSON. which is not working. we will need a custom parser.

@docelic just so you know this is a blocker to some of the spec tests.

[2020-05-08 20:04] docelic commented on #12
Hey, yes, in terms of just passing the spec, @ZaWertun applied this hack in his branch:

[code]

[2020-05-08 20:52] kalinon commented on #12
Maybe i will have to do that. i have only a few broken specs left

[2020-05-08 21:13] kalinon opened #26 "Current Broken Specs and Issues"
@docelic I noticed we were both fixing some of the same stuff, so here is what i have left and what ive found.

### Broken specs:

[code]

### arguments_spec:

in [spec/integration/arguments.cpp] we have a test for setting the default string:
[code]

However bindgen is currently outputting the following JSON when parsing it:
[code]
Notice in particular:
[code]
So while it is noticing that there is

[2020-05-08 21:15] kalinon commented on #26
Im not very good at C++ so i may need assistance resolving these last ones

[2020-05-08 21:21] docelic commented on #18
This should be fixed soon. I tested with 6 and 7, and contributions from @kalinon indicate a working version with 8.

[2020-05-08 21:23] docelic commented on #1
Closing as it doesn't seem immediately actionable any more. Thanks.

[2020-05-08 21:23] #1 closed

[2020-05-08 21:31] docelic commented on #9
Hey, please review/re-evaluate this after #25 gets merged. Thanks.

[2020-05-08 21:32] #14 closed

[2020-05-09 10:31] ZaWertun opened #27 "Bindgen rejects clang 10 because it compares versions as strings"
See this commit in my branch: https://github.com/ZaWertun/bindgen/commit/9f51a21f79240fa56c55d1c546965474e5bf229c

[2020-05-09 10:51] ZaWertun commented on #27
It's not best solution because it will break on versions with only 1 or 2 components, like this: '5', '5.0'.

[2020-05-09 10:53] ZaWertun opened #28 "Clang 10 support"
You can cherrypick my commit, just change macros to the right one: https://github.com/ZaWertun/bindgen/commit/125f32cfac2c2dd98b44f28377aa5075550d9efd

[2020-05-09 10:55] ZaWertun commented on #26
I see no errors after running `crystal spec` on my branch...

[2020-05-09 10:57] ZaWertun commented on #19
It's very similar to crash in the dectructor.
It can be fixed with this commit: https://github.com/lbguilherme/bindgen/commit/6040efad03a66e188326e821a0145b249a6256f5

[2020-05-09 11:00] ZaWertun commented on #23
Now with bindgen from my fork and qt5.cr from my fork I got this error (running qt5 samples):
[code]

[2020-05-09 11:03] ZaWertun commented on #19
@docelic Could you cherry pick this commit?

[2020-05-09 12:42] kalinon commented on #26
Ill check it out. Are you also using latest crystal? (0.34.0)

[2020-05-09 12:44] ZaWertun commented on #26
Yep.

[code]

[2020-05-09 13:14] kalinon commented on #26
@ZaWertun some of your changes to `clang/find_clang.cr` broke things for me, other than that, most merged without issue. but i still end up with the same 2 failures. For reference i am testing on OSX.

[2020-05-09 13:19] kalinon commented on #23
I think we need to focus on supporting specific LLVMs. At a minimum i think we should support the versions crystal itself supports. Right now Crystal only supports LLVM 8.0 (as far as i know). This will make the code base easier to maintain and simplify dependencies.

This also would make the management of clang versions easier as well, if we focus on using the LLVM included files.

Let me know if

[2020-05-09 13:20] ZaWertun commented on #26
@kalinon I have Mac Mini at home with almost latest mac os version, I can check this.
Is it hard to install crystal on Mac?

[2020-05-09 13:42] kalinon commented on #26
Nope its eazy peazy. as long as you have [brew](https://brew.sh/) installed just do a `brew install crystal`.
Also different versions of llvm are super easzy too `brew install llvm@4 llvm@6 llvm@8`

[2020-05-09 21:44] ZaWertun commented on #26
Somehow it works, but only when built with llvm-10, I've got errors `ld: symbol(s) not found for architecture x86_64` when building it with llvm-8.
See this commit: https://github.com/ZaWertun/bindgen/commit/2745ad87eaead978dc29e16ffcad3e98d15a56e5.
I think it will be far more simple to use just `llvm-config`.

[2020-05-09 22:16] docelic commented on #23
Hey, I've asked and the answer I got is that Crystal supports LLVM 6+, and that it would probably also work on latest too.
But yes, the default binaries for download from Crystal's site appear to be built with 8
(`crystal  eval 'p ::Crystal::LLVM_VERSION'`).

[2020-05-09 22:45] ZaWertun commented on #23
You're not right. Crystal-0.34 supports llvm-10, you can check it in the changelog: https://github.com/crystal-lang/crystal/releases/tag/0.34.0.

[2020-05-09 23:23] docelic commented on #26
Here's the TODO items gathered from the PRs:

1. The JSON UInt64 issue:
[code]

2. Temporary MacOS path additions
[code]

3. Crash in clang destructor
[code]

[2020-05-09 23:39] docelic commented on #28
Hey @kalinon could you get these Makefile changes reflected in cmake? If you could pull @ZaWertun's branch, adjust, and submit a PR like you did with pull-zawertun that'd be ideal. Thanks!

(Merging this does not mean that we need to commit to LLVM 10 right now. It's just a small/not-too-obtrusive change so let's try to add it.)

[2020-05-09 23:43] docelic commented on #27
Great, will see if I can come up with a complete version.

[2020-05-09 23:43] ZaWertun commented on #6
Commit 8d2da829517ded275ae5d531206f05b366c8bed2 not fixing the issue, another small PR to really fix it.

[2020-05-09 23:50] docelic commented on #19
Hey yes it was applied as part of recent merges, and a note of it (so that we revisit it in more detail later if needed) is left in #26.
@thedeadferryman consequently I'm gonna close this ticket. Please reopen if the issue persists. If you update your branch to latest code please also note that the build system was switched to cmake, so in the *clang/* directory you need to run `cmake .` to genera

[2020-05-09 23:50] #19 closed

[2020-05-10 00:20] ZaWertun commented on #6
PR: #30

[2020-05-10 00:39] #6 closed

[2020-05-10 00:40] #18 closed

[2020-05-10 00:40] docelic commented on #18
Closing as I believe the issue reported should be fixed at this time. Please reopen if the problem persists. Thanks.

[2020-05-10 01:05] docelic commented on #27
@ZaWertun how about we modify `private def check_version_string(version_string)` simply so that we run something like this at the top (before comparison):

[code]

And the same for min/max if needed. Then we can leave semantic versioning do the comparison as you have it?

[2020-05-10 01:44] kalinon commented on #28
Yeah, I'll look at it tomorrow 👌

On Sat, May 9, 2020 at 7:40 PM Davor Ocelic <notifications@github.com>
wrote:

--

*Holden Omans*

[2020-05-10 01:46] kalinon commented on #23
Good find. I went off of the published docs which must be behind. I'm also
ok with supporting a range of versions, was just hoping to narrow it down.

On Sat, May 9, 2020 at 6:45 PM Yaroslav Sidlovsky <notifications@github.com>
wrote:

--

*Holden Omans*

[2020-05-10 08:38] ZaWertun commented on #27
Looks good, create PR please.

I'll make more general solution later, for example like algorithm used in RPM: https://fedoraproject.org/wiki/Archive:Tools/RPM/VersionComparison.

[2020-05-10 10:19] docelic commented on #27
Imported your commit and added the discussed improvement, thanks!

[2020-05-10 10:47] ZaWertun commented on #9
find_clang.cr works fine on Fedora when started like this:
[code]
So I'm closing the issue.

[2020-05-10 10:47] #9 closed

[2020-05-10 11:17] ZaWertun commented on #28
I'm able to build bindgen on Fedora-32 x86_64 with llvm-10 (commit: b3f0972681a62dc8e96b0cd58b7001d6067fdaf3) after following steps:
1. Little change to `clang/CMakeLists.txt`:
[code]
If I don't add LLVM to the libraries I've got this link error:
[code]

2. `BINDGEN_DYNAMIC=1 cmake . && make -j`

[2020-05-10 11:33] ZaWertun commented on #27
Could you look at my GenericVersion class?

It's here: https://gist.github.com/ZaWertun/5ff96c43bcf87219bb2344633fe3d136.
It compares versions with any number of components separated by `.`.
Algorithm is similar to `rpmvercmp` but simplier.

One important difference with:
Old alg.: `1.2.0 = 1.2`.
New alg.: `1.2.0 > 1.2`.
So now more long version list becomes newer (when prefix is the same).
Plus n

[2020-05-10 13:35] docelic commented on #27
Merged, see https://github.com/Papierkorb/bindgen/commit/77f3a49bf81bc19756210a36f1d4e3bae310b203

Thanks!

[2020-05-10 13:35] #27 closed

[2020-05-10 13:41] kalinon commented on #28
@ZaWertun ill add these in PR is open for review. i think i may have fixed a few other silent issues

[2020-05-10 13:43] kalinon commented on #28
Actually @ZaWertun can you see if i fixed the issue with `target_link_libraries(bindgen dl z curses pcre LLVM)` I did notice that the llvm libs were coming back empty, so i added a catch to manually look them up. Im wondering if it does the same thing as adding `LLVM` to the links.

[2020-05-10 13:45] kalinon commented on #28
Also, since i dont take account of `BINDGEN_DYNAMIC=1` do you need it? im wondering if cmake makes that distinction and handles it for fedora?

[2020-05-10 13:46] docelic commented on #26
4. Possibly add real option parsing to fin_clang.cr. (This would be a further extension of an improvement done in https://github.com/Papierkorb/bindgen/commit/151c70723c9a5444f6e23edd62c0eb54c66c95ee )

[2020-05-10 14:07] ZaWertun commented on #28
Just checked 00db954d05e8e8be95488768a60a6f0a89982036.
1. `BINDGEN_DYNAMIC=1` still needed as without it I see this error:
[code]
It's seems right.

2. When running `BINDGEN_DYNAMIC=1 cmake .` I see this warnign:
[code]
But it's OK since bindgen builds without errors.

:thumbsup:

[2020-05-10 15:09] kalinon commented on #28
@ZaWertun ah i forgot the changes to `find_clang.cr` you may want to check out #32 as we may need to add something there for dynamic?

[2020-05-10 15:40] ZaWertun commented on #28
For now - I don't know. It's kinda works - good :)

[2020-05-10 17:15] kalinon commented on #26
Opened #33 which should fix the arguments spec. As for the containers spec, i think i know why its failing, but its making my brain hurt.

So the error is:
[code]
Which in 0.34.0 crystal is more "uptight" about overrides. The generated code is:
[code]
So i think we need to make it take index as an `Int` but i cant figure out where to override it.

[2020-05-10 17:29] ZaWertun commented on #26
`unsafe_fetch` has wrong signature - `index` argument must be of `Int` type (https://crystal-lang.org/api/0.34.0/Int.html).

[2020-05-10 17:31] ZaWertun commented on #26
This patch should help, but there will be another error:
[code]

[2020-05-10 19:03] ZaWertun commented on #26
Here is fix: #34.

[2020-05-11 21:12] docelic opened #35 "Better fix for unsafe_fetch argument type"
Creating the issue to keep track of a better/cleaner equivalent of commit:

https://github.com/Papierkorb/bindgen/pull/34/commits/4012779e2c50c355a4a7aad538b33001d7a77777

The issue itself, for which this is a patch, is described/mentioned in https://github.com/Papierkorb/bindgen/issues/26 .

[2020-05-12 00:37] docelic opened #36 "Simplify find_clang.cr"
There is a bit of overlap between clang/find_clang.cr and clang/CMakeLists.txt.

find_clang supports finding the clang++ binary, but this is redundant as CMake will figure it out and call find_clang with option --clang PATH.

Also, as @kalinon mentions in https://github.com/Papierkorb/bindgen/pull/32/ , probably more optimizations can be made by directly reading values from one of:

[code]

Instea

[2020-05-12 01:34] kalinon commented on #36
`llvm-config --binpath` as well

[2020-05-12 09:16] alexanderadam commented on #23
Maye it would make sense to move this project to https://github.com/crystal-community?
This could also increase visibility.

[2020-05-12 10:32] ZaWertun commented on #28
Just tried commit 356b527cd511fe83f7acc1deea94f75f2947f0f3 - builds without errors.
So I'm closing the issue.
Thanks!

[2020-05-12 10:32] #28 closed

[2020-05-12 11:03] docelic commented on #12
The master branch now contains a workaround, but needs better fix.

The code block which is part of this is:

[code]

Mentioning it here so that we can close ticket #26.

[2020-05-12 11:03] docelic opened #37 "Crash in clang destructor"
[code]

[2020-05-12 11:04] docelic opened #38 "OptionParser for find_clang.cr"
Possibly add real option parsing to find_clang.cr. (This would be a further extension of an improvement done in 151c707 )

[2020-05-12 11:10] docelic commented on #26
At this point all unresolved issues mentioned in this ticket exist as separate issues, so closing this.
Feel free to reopen if you want to continue this thread/ticket.

[2020-05-12 11:10] #26 closed

[2020-05-12 12:06] ZaWertun opened #39 "find_clang.cr finds different versions of clang & llvm-config"
There maybe several clang & llvm versions installed on user computer.
For example I have both llvm/clang 6 and 10.
After running `find_clang.cr` I've got this variables (from `Makefile.variables`):
[code]
Clang 10 is linked against llvm-10 so I get strange errors when running `crystal spec`.
Also `/bin/llvm-config` points to the version 10 but it's not selected.

[2020-05-12 12:10] docelic commented on #39
Interesting, gonna look into this. The llvm binary is detected by first looking into the paths discovered from examining clang, so I assumed it would always pick the right one. Will check.

[2020-05-12 12:16] ZaWertun commented on #39
Maybe some check needed that clang version matches llvm version.

[2020-05-12 12:18] docelic commented on #39
Yes, the finder supports this, so unless a more direct approach is found, restricting the matches to the same version would sure work.

[2020-05-12 12:29] docelic commented on #39
@ZaWertun try now please. The clang-discovered paths were added to the beginning of the search list as expected, but I missed to replace "lib|include" in them with "bin". The last commit adds this back.

[2020-05-12 12:52] ZaWertun commented on #39
There is not much change:
[code]

But replacing default `OPTIONS[:llvm_config_pattern]="llvm-config"` with `"llvm-config"` - helps.

[2020-05-12 12:58] docelic commented on #39
Hm let's also add the version check then. Will have it in a couple minutes.
(Yes, doing a fixed lookup for "llvm-config" would work in your case, but sometimes the binary is named "llvm-config-7" etc.)

[2020-05-12 12:59] ZaWertun commented on #39
It's better to check both `llvm-config` and `llvm-config*`. Not only last.

[2020-05-12 13:00] ZaWertun commented on #39
Actually it's strange that `llvm-config` is not found by pattern `llvm-config*`, because it must match.

[2020-05-12 13:04] docelic commented on #39
In find_clang's `find_llvm_config_binary`, can you add a `p paths.join " "` so that we see which paths are being searched, and then possibly do in the shell:

`find <those paths> -name 'llvm-config*'`

From this we'd have all the info needed to determine why it is/isn't matching.

[2020-05-12 13:11] ZaWertun commented on #39
Paths:
[code]
All llvm-config executables & links are living in the `/usr/bin` (`/bin` now is linked to the `/usr/bin`):
[code]

[2020-05-12 13:19] ZaWertun commented on #39
Looks like all links to the binary files was skipped somehow.

[2020-05-12 13:28] ZaWertun commented on #39
Nah, maybe just `llvm-config-6.0-64` picked first.
[code]

[2020-05-12 13:47] docelic commented on #39
Eh yes, right, so it didn't find any llvm binaries in the specific directories, and then when it got to the global/common ones like /usr/bin where it picked the first one >= 6.0.0.

Yes, in this case we'll need to add a version check. For now it will look for the exact version as clang reports. Will have it in a couple minutes. (Will also re-check what the old version of the code was doing.)

But

[2020-05-12 13:57] docelic commented on #39
Looking at the old code, it didn't have this case handled either. It incidentally worked because it was only looking for `llvm-config` (without `*`) and in most cases this was the exact/good version.

Will try to implement the min version check. If that fails will resort to just checking for `llvm-config`.

[2020-05-12 13:58] kalinon commented on #39
On OSX we are able to have multiple llvm installs as well using brew:
[code]

This is why i am more in favor of strictly using what ever is passed in as `--clang` or found with a `llvm-config` call. Then using the `llvm-config` to define everything from there. Infact i would almost say we should be using llvm-config to define the clang binary path as well.

[code]
Which gives us `/usr/local/Cellar

[2020-05-12 13:59] docelic commented on #39
Hm @kalinon indeed, ok, that brings us closer to that idea of forcing the good value in path, and figuring out everything from there. Will implement, thanks.

[2020-05-12 14:14] kalinon commented on #26
Well done!

[2020-05-12 14:34] docelic commented on #23
Hey Alex , yeah possibly, @Papierkorb would be to decide on that.
It seems we're close to having the specs for bindgen pass again, so that's very promising.

[2020-05-12 17:51] docelic commented on #39
@ZaWertun Hey please try now. The updated `find_clang.cr` still does not search by version, but among other changes now it uses both the clang++ and llvm-config binaries which are detected by CMake itself (when run through make).

[2020-05-12 18:07] ZaWertun commented on #39
Still `/bin/llvm-config-6.0-64` is selected first.
But `/usr/bin/llvm-config` tried first, version is OK, but somehow it's not accepted.

[2020-05-12 18:13] ZaWertun commented on #39
[code]

And cmake finds correct versions:
[code]

[2020-05-12 18:17] ZaWertun commented on #39
Oh man...
[code]

[code]

It just takes lowest version. Why????

[2020-05-12 19:04] docelic commented on #39
Yes, but this is a great test while you have the old llvm. Can you run this in the usual way via `cmake .; make` and not via `find_clang` directly?

When called through make, make will supply to `find_clang.cr` the exact llvm-config and clang++ binaries to use. So in that case no autodetection should be happening in `find_clang`, and it should use the same binaries that CMake found.

[2020-05-12 19:12] kalinon commented on #39
a `git clean --ffxd` will wipe all the caches (and any other non-tracked files). helpful in cleaning before `cmake .`

[2020-05-12 19:22] ZaWertun commented on #39
Works fine after cleaning all things up and running `BINDGEN_DYNAMIC=1 cmake . && make`.

[2020-05-12 19:58] docelic opened #40 "Better cxxflags setting in spec/clang/spec_helper.cr"
spec_helper.cr needs access to the cxxflags variable which is determined when the clang too (subdir `clang/` runs).
Currently, the tool dumps variables to `Makefile.variables`, in Makefile format, and spec_helper reads it in a basic way.

[code]

We should change this to pass this data in a more formal way. One possible way to do it would be for the clang tool to read some (existing or new) file i

[2020-05-12 20:47] docelic opened #41 "Runtime error after linking to .a and .so"
Hey @kalinon, on LLVM 7, when I compile bindgen, it cannot be started due to:

[code]

This happens if either it links against different/multiple versions of LLVM, or if it links both .a and .so libs of the same version. In my case it's the second issue.

I've ran `LDFLAGS=-v cmake .; make -j` which showed me the linker line. It is pasted here:
https://bpa.st/IJNQ

In it, it's clear that it links

[2020-05-12 22:41] kalinon commented on #41
I did notice that the `CLANG_LIBS` also include the `LLVM_LIBS` this may be where its doubling up?

[2020-05-12 22:57] kalinon commented on #41
I am able to reproduce in a ubuntu container with llvb 6. Here is the MASSIVE command it makes:

[code]

[2020-05-13 08:37] docelic commented on #41
Hm, even if it's doubling, the main problem is that .so should not be in the list at all.

What's interesting though is that your comment reminds me that these two .so files are present only once, meaning that they're not coming from LLVM_LIBS (if LIBS are doubled, then the .so would appear twice if it's coming through that variable).

For the output on Ubuntu, yes, very similar to what I see here

[2020-05-13 08:58] ZaWertun opened #42 "find_clang.cr, function parse_clang_output takes only first include path while skipping others"
For example I have this flags (https://github.com/Papierkorb/bindgen/blob/master/clang/find_clang.cr#L380), I'll include only `-internal-isystem` part:
[code]

And this function returns only first one dir - `/usr/include/c++/10`, skipping the `/usr/local/include`, `/usr/lib64/clang/10.0.0/include` and others.
And because I don't have `/usr/lib64/clang/10.0.0/include` in include paths defined, late

[2020-05-13 09:06] docelic commented on #42
Will check what's going on.

[2020-05-13 09:11] ZaWertun commented on #42
It just takes next item after `-internal-isystem`.
[code]
I'll create PR.

[2020-05-13 09:52] #42 closed

[2020-05-13 09:54] docelic commented on #42
Merged, thanks! I guess further improvements to this (e.g. possibly using llvm-config to get these flags instead of clang++) can be done through https://github.com/Papierkorb/bindgen/issues/36 at some later point.

[2020-05-13 09:55] docelic commented on #39
Closing as it seems resolved. Please reopen if anything remains.

[2020-05-13 09:55] #39 closed

[2020-05-13 10:17] docelic opened #44 "LLVM 7 - PIE / fPIC"
On Debian and LLVM 7, after bindgen is compiled, Qt specs fail with:

[code]

An example of a CC line that's invoked is:

[code]

[2020-05-13 12:50] kalinon commented on #41
You can run `cmake -DCMAKE_BUILD_TYPE=Debug .` as well to get more output.

[2020-05-13 13:11] kalinon commented on #41
So looks like its coming from the llvm itself. running `llvm-config --libnames` on ubuntu gives the `.so`.

On ubuntu:
[code]
on OSX:
[code]

[2020-05-13 14:12] kalinon commented on #21
we just have gone through a bunch of changes, and possibly more coming. if you'd like to try again on master you might get different results now.

[2020-05-13 14:38] docelic commented on #44
Debian 10.0

[2020-05-13 14:40] ZaWertun commented on #44
Also try to remove `"-fPIC"` from the flags in the `qt.yml`.

[2020-05-13 14:53] docelic commented on #44
Interesting, I just check and -fPIC (or "fpic" at all, case insensitive) does not appear anywhere in my checkout of the `bindgen` repository.

[2020-05-13 14:55] docelic commented on #44
Ah but of course, I had to add it. I added it to the build flags in `spec/integration/spec_base.yml` and all specs passed at this time!

[2020-05-13 14:58] docelic commented on #44
So now to figure out why it's not detected automatically.

[2020-05-13 18:16] docelic commented on #44
Hm, is there a way we can auto-detect the -fPIC setting? It does not appear in the output of any commands that `find_clang` runs, yet as evident from this issue, it was needed on this system for things to work.

[2020-05-13 21:00] docelic opened #48 "/usr/bin/ld: missing --end-group; added as last command line option"
Warning on Debian 9 and LLVM 7:

[code]

[2020-05-13 21:08] #48 closed

[2020-05-13 21:30] #41 closed

[2020-05-14 10:33] ZaWertun commented on #44
Maybe just add `-fPIC` to default flags?
Adding it doesn't seem to break anything on my system (Fedora 32).
Though more investigation needed.

[2020-05-15 18:28] kalinon opened #50 "Use built in option parser for find_clang.cr"
https://crystal-lang.org/api/0.34.0/OptionParser.html

[code]

[2020-05-15 19:32] docelic commented on #50
Related to #38

[2020-05-15 21:30] docelic commented on #44
In lack of a better solution, I think what we can do is enable -fPIC if BINDGEN_DYNAMIC is false.

[2020-05-15 22:50] docelic commented on #44
The proposed fix is committed with:
https://github.com/Papierkorb/bindgen/commit/4590da807e986b271160f72bdb0a8d8635533a3c

Let's see if it will be fine or cause issue reports from users.

[2020-05-15 22:50] #44 closed

[2020-05-15 22:56] docelic opened #51 "Better CMake use of find_clang.cr"
Currently, CMake calls find_clang.cr 3 times and also parses its stdout.
This causes the cmake run time to be longer than needed, and also it makes find_clang.cr unable to print meaningful debug/info messages because its output is parsed directly.

We can improve this in the following way:

1) Make CMake call find_clang.cr only once
2) Make find_clang.cr generate all of its content at once and dum

[2020-05-15 22:59] docelic commented on #23
Hey @ZaWertun  @kalinon , with this last/latest commit I think we have something that works with Crystal 0.34 and passes specs out of the box in a good number of cases.
Thanks for all your great contributions that made that happen!

[2020-05-16 00:03] docelic opened #52 "Windows support"
Trying to compile bindgen on Windows produces first error in find_clang.cr on:

[code]

[2020-05-16 00:17] docelic opened #53 "Header in files autogenerated by find_clang.cr"
In files find_clang.cr autogenerates, header should be verified to exist which explains that the file was autogenerated and by which file/script.

[2020-05-16 00:24] docelic commented on #50
(We could also use Stefan's `toka`, which is already used as part of bindgen)

[2020-05-16 12:38] kalinon commented on #23
Awesome! Good work!

[2020-05-16 12:39] kalinon commented on #50
True, but i noticed find_clang was absent of any shard dependencies. Using the built in lib would continue this.

[2020-05-17 07:37] acoolstraw commented on #23
YAY!

[2020-05-18 09:47] docelic commented on #52
We need to replace this with a macro:

[code]

[2020-05-18 16:52] docelic commented on #52
Updated in latest commit. Will keep the ticket open for further issues.

[2020-05-26 23:18] docelic commented on #23
I've just released 0.7.0 which we can use as the basis for working on qt5.cr now.

[2020-05-27 17:13] kalinon commented on #23
Awesome! Seems the mongo lib was also abandoned. i may use bindgen to redo the bindings as well

[2020-05-27 17:33] kalinon opened #54 "Fix builds for 0.7.0"
Currently the builds are broken: https://travis-ci.org/github/Papierkorb/bindgen

[2020-05-27 17:34] kalinon commented on #23
@docelic can we add some tags to the issues so we can easily identify bugs, enhancements, etc etc

[2020-05-27 17:35] kalinon opened #55 "[proposal] Break up README into the git wiki"
What the title says. There is a lot of great documentation all in the one README file. perhaps we can break it up into smaller sections and use the wiki?

[2020-05-27 17:42] Papierkorb commented on #55
Back then, I chose the README as main documentation hub (Along the TEMPLATE.yml) for four reasons:
1. It's easily Ctrl+F'able, or in less keyboard-terms, easily discoverable through means everyone knows
2. It's part of every checkout and will always reflect the state your checkout is in
3. It's harder to get out of date as developers simply see it more often.  A wiki page is quickly forgotten.
4.

[2020-05-27 17:47] kalinon commented on #55
@Papierkorb all good reasons! Perhaps a table of contents at the top? Its great documentation so wanted to make sure its easily accessible and we can identify any places that need updating easily as well.

[2020-05-27 17:47] Papierkorb commented on #55
Ah sure, a TOC would be splendid

[2020-05-27 18:51] ZaWertun commented on #54
[code]
I think it caused by old CMake.

[2020-05-27 19:08] docelic commented on #55
Added ToC to the README using a script from "github-markdown-toc" repository.

[2020-05-27 19:13] docelic commented on #55
For TEMPLATE.yml, to suit everyone's preferences it looks like we'd need three versions of it:

1) Just the documentation, extracted into some standard documentation format (e.g. Markdown)
2) TEMPLATE.yml, unchanged, as it is currently
3) TEMPLATE.yml, containing only example config (no documentation, or at least not longer that 1-2 lines per section)

And again/also with the ToC added to the firs

[2020-05-27 19:18] docelic commented on #23
Added.

[2020-05-27 21:16] kalinon commented on #55
I changed the title to more reflect what we are thinking. @docelic you are good, it was more of a thought i had. I will use github-markdown-toc for some of my other projects tho!

[2020-05-27 21:17] kalinon commented on #54
ah. yeah i ran into this somewhere else. may need to compile it

[2020-05-27 22:43] docelic commented on #54
Given that @ZaWertun added the GenericVersion class which has since been used in a couple more places in bindgen/qt5, how about we simply don't make this check in cmake, but elsewhere?

One option would be to simply extend find_clang.cr so that it accepts two versions from command line and returns the result of comparison via exit status.

Or another alternative could  be that we ourselves detect

[2020-05-28 18:22] Papierkorb opened #57 "Update or remove the Contributors section in the README"
With many people lately doing a ton of work on this project, y'all are pretty humble when it comes to [adding yourself to the list](https://github.com/Papierkorb/bindgen#contributors).  Please do so!  Or remove the section, I leave that up the community.

Cheers!

[2020-05-28 19:23] #57 closed

[2020-05-28 19:24] docelic commented on #57
I've added everyone with more than 10 commits to the repository, listed alphabetically after you.
Hope this is OK with everyone. If there are any other opinions (e.g. to remove the section) please add a comment. Thanks.

[2020-05-28 21:39] docelic commented on #55
I've tried converting the documentation from TEMPLATE.yml into Markdown. The results are good and I plan to add this as file `CONFIGURATION.md`.

An example can be seen here:
https://github.com/docelic/bindgen/blob/master/CONFIGURATION.md

[2020-05-29 11:04] kalinon commented on #55
I like it!

On Thu, May 28, 2020 at 5:39 PM Davor Ocelic <notifications@github.com>
wrote:

--

*Holden Omans*

[2020-06-13 22:55] HertzDevil opened #59 "Overloaded Qt signals"
While using [qt5.cr](https://github.com/Papierkorb/qt5.cr) I noticed that `#on_SIGNAL` methods do not work properly if the signal has multiple signatures. One example is the overloads of [QComboBox::activated](https://doc.qt.io/qt-5.12/qcombobox.html#activated):

* `void QComboBox::activated(int index)`
* `void QComboBox::activated(const QString &text)`

The Qt processor translates them to somethi

[2020-06-15 23:57] docelic commented on #59
Hey @HertzDevil that's an interesting question.
@Papierkorb do you have a preference on how you'd like to see this issue solved/worked around?

[2020-06-16 03:29] HertzDevil commented on #59
I took a look at PyQt5. It exposes signals and slots directly, and quite conveniently gives the [following example](https://www.riverbankcomputing.com/static/Docs/PyQt5/signals_slots.html) for `QComboBox`:

[code]

In Python `str` is a class, and a particular overload is selected by the classes that go between the `[]`. I think we could imitate this by requiring classes themselves as arguments to

[2020-06-16 05:50] Papierkorb commented on #59
I think passing the type as argument for overloaded signals is a clever solution! I don't think there needs to be a "default" signal, as we can't predict the most useful overload so let's not.

For an overload where one signal comes with no arguments the resulting on_method could simply take no arguments beyond the block.

[2020-06-16 17:02] thedeadferryman opened #61 "`find_clang` fails to find libraries"
When running `find_clang.cr`, it fails to find library paths, unless I add `p` expression:
[code]
Clang environment:
[code]
OS:
[code]

[2020-06-16 17:14] thedeadferryman commented on #61
Nevermind, I've fucked up

[2020-06-16 17:14] #61 closed

[2020-06-17 03:33] HertzDevil opened #62 "CrystalProc ignores Crystal-side type conversions"
Currently the `converter`, `from_crystal`, and `to_crystal` configurations only apply to direct uses of binding types, not to `Proc` types accepting or returning these types, including block arguments. This means all Qt signal handlers involving `QString` will fail, for example:

[code]

as the type conversion applied by `Qt::Converter::QString` is lost through `CrystalProc`:

[code]

[code]

I wa

[2020-06-17 08:56] HertzDevil commented on #62
Looks like `VirtualOverride` is already doing a similar thing, for example:

[code]

It is also the only place in Bindgen's source code that uses `wrap_proc`, as `CrystalProc`'s is hardcoded in `builtin_types.yml`...?

https://github.com/Papierkorb/bindgen/blob/3a1543e9341843fc8586a6141147e48b8cdfdedc/builtin_types.yml#L100-L107

[2020-06-17 09:32] docelic commented on #54
`GREATER_EQUAL 10` was just fixed by using `GREATER 9`.

The issue that pops up now is:

[code]

Is it possible that `shards` is not being run in these builds?

[2020-06-17 11:30] kalinon commented on #54
probably not. i probably just introduced that build bug.

[2020-06-18 13:26] #59 closed

[2020-06-18 13:27] docelic commented on #62
@Papierkorb could you please comment on this one as well, when you get a chance? Thanks!

[2020-06-18 14:19] Papierkorb commented on #62
Yeah that's a bug.  The signals, or rather block arguments, should use the same conversion tactic.

[2020-06-23 04:57] HertzDevil commented on #54
Looks like builds now fail with

[code]

The culprit may be

https://github.com/Papierkorb/bindgen/blob/3f028833f059e70b89cfa03b0686e145b70921b1/clang/find_clang.cr#L60-L63

It should be okay to drop linker flags here (`-Wl,*`) as the generated command line is compile-only (`-c`):

https://github.com/Papierkorb/bindgen/blob/3f028833f059e70b89cfa03b0686e145b70921b1/clang/find_clang.cr#L145-L147

[2020-06-24 19:08] docelic commented on #62
@HertzDevil do you think you could attempt producing a patch for this?

[2020-06-30 21:13] adamcreekroad opened #67 "Issues wrapping namespaced classes"
I'm having some issues trying to create bindings for the PoDoFo library - everything is name-spaced under `PoDoFo`. I'm mainly having issues with classes.

If I use the namespace in the config, I have two issues (that I've found):
- Inheritance is not detected in the crystal wrapper
- the C++ bindings `using` declaration uses the namespace improperly

podofo.yml
[code]

src/podofo/binding.cr
[code

[2020-08-03 13:33] HertzDevil opened #68 "Stack overflow due to calling superclass method inside virtual override"
I was doing work that required an overriding method to call the overridden method in the superclass (`Qt::Object::eventFilter` from [qt5.cr](https://github.com/Papierkorb/qt5.cr) to be exact), but to no avail. Suppose this class is in `spec/integration/virtual_override_spec.cr`:

[code]

This leads to a stack overflow:

[code]

The bodies of the relevant generated methods are:

[code]

[code]

If

[2020-08-03 16:35] HertzDevil commented on #68
If the solution is to simply expose the superclass methods, this is what I came up with:

[code]

[code]

That is, for every non-pure abstract class, on the `Crystal` platform,

* define an inner struct called `Superclass`, which is simply a wrapper of the calling instance;
* define a method called `superclass`, which wraps the receiver instance (usually the caller itself);
* define an overload ta

[2020-08-03 16:49] Papierkorb commented on #68
Hello,

Oh dear, the virtual-override stuff was fun (for some good and some wrong) reasons to write back then :stuck_out_tongue:

Your solution sounds good  to me.  I'm wondering however if `#superclass` should be marked as `protected` as measure to avoid abuse.  `superclass` is also a lot like Javas `super` giving out a "wrapper object" much like in your proposal.

Also, I see where you're coming

[2020-08-10 12:10] HertzDevil commented on #68
Got it to work in 5f9e545. On my local qt5.cr installation, this generated 82 `Superclass` classes, 1999 `SUPER` lib funs, and 971 C++ `SUPER` wrappers when everything was enabled. The file size changes are as follows:

* `src/binding/binding_$(BINDING_PLATFORM).cr`: 3.2 MB -> 3.7 MB (+16.6%)
* `ext/qt_binding_$(BINDING_PLATFORM).cpp`: 1.8 MB -> 1.9 MB (+8.8%)
* `ext/qt_binding_$(BINDING_PLATFORM)

[2020-08-10 17:14] Papierkorb commented on #68
Really good progress you have in #70, 👍 to that!  My notes below:

I think that's fine.  The Crystal compiler should discard unused Crystal methods on its side, and the linker discard unused symbols from C++ land.  So my only concern would be compile time implosion, is it much worse for you?  Considering the opt-out possibility there's more to win than to lose I think.

These fields should be rege

[2020-08-12 06:46] HertzDevil opened #71 "Public instance properties"
My current focus is getting [`QStyleOption`](https://doc.qt.io/qt-5/qstyleoption.html) and its subclasses to work. However, these classes use _public_ instance variables, and Bindgen doesn't expose them to Crystal wrapper classes:

[code]

[code]

My plan is to add a new processor that synthesizes getter / setter methods from public instance variables, with binding function names like `version_GET

[2020-08-12 13:02] HertzDevil commented on #71
Apparently it was already noted that `copy_structure` doesn't work with inheritance, so I went ahead and submitted a PR. #72 contains some follow-up information (mostly potential extensions to the YAML configs).

[2020-08-15 17:45] #71 closed

[2020-08-15 17:45] #68 closed

[2020-08-17 17:52] HertzDevil opened #75 "Potential premature collection of wrapped types"
Consider these snippets:

[code]

[code]

[Boehm GC's readme](https://github.com/ivmai/bdwgc#general-description) states:

The `Test::Outer` and `Test::Inner` Crystal wrappers are always GC-enabled, so they should be collected as no Crystal variables point to them. This leaves only the actual `Outer` and `Inner` instances on the C++ side. Now the `Inner` instance:

* is GC-enabled (because the gen

[2020-08-19 11:38] HertzDevil opened #77 "Undefined reference to GC_throw_bad_alloc()"
Today I started receiving this error in Bindgen after performing a system update which bumps my libgc's version to 8.0.4:

[code]

This is due to https://github.com/ivmai/bdwgc/issues/268#issuecomment-471212628. According to that issue there are 3 solutions:

* Add `-lgccpp` to everywhere in Bindgen that has `-lgc`;
* Add `-lgctba` to everywhere in Bindgen that has `-lgc`;
* Add `#define GC_NEW_AB

[2020-08-22 13:14] HertzDevil opened #80 "Bindgen::Graph::Path edge cases"
I found a bunch of edge cases in `Bindgen::Graph::Path` while trying to figure out some namespace-related issues:

[code]

Global path lookup is wrong if the root name is repeated twice.

[code]

Local path lookup doesn't handle shadowed namespaces properly. (Both Crystal and C++ do this.)

[code]

This is really confusing; no places outside `Path` use the empty string to refer to a top-level / ro

[2020-08-29 11:17] #80 closed

[2020-08-29 11:17] #62 closed

[2020-08-29 13:16] HertzDevil commented on #67
After that PR you should be able to wrap them directly:

[code]

Extra type configuration shouldn't be required and SanityCheck shouldn't break.

[2020-08-30 20:08] HertzDevil opened #85 "Support nested anonymous types"
Currently, Bindgen doesn't support nested anonymous types at all:

[code]

[code]

[code]

There are many examples of these types in the wild, mostly C `struct` / `union` compounds: (`union` support would be in a separate issue)

[code]

Successfully parsing the nested types is the first step to supporting these classes, whether they are wrapped or not. This issue could be broken down into several

[2020-09-03 09:33] HertzDevil opened #86 "Destructors not called on GC-enabled instances"
At no point during execution does Bindgen actually invoke the destructors of wrapped C++ instances; `UseGC` only ensures the instances use the GC heap, deletion is still performed by a raw `GC_free`. Consider:

[code]

[code]

Nothing happens, but if a clean-up function is supplied to the constructor:

[code]

Then `T::~T()` will be printed. Is this behaviour intentional? (To be fair, since Qt has

[2020-09-05 13:22] HertzDevil opened #87 "Support downcasting between Crystal wrapper types"
Previously we discussed the possibility of recovering Crystal wrapper instances/types from their `@unwrap` pointers, but it turns out that only solves part of the marshalling problem; if there wasn't a wrapper instance in the first place, we are left with a C pointer in Crystal with no access to C++'s RTTI. This issue attempts to address this other part. Consider:

[code]

[code]

To that end I su

[2020-09-06 11:42] #67 closed

[2020-09-07 11:35] HertzDevil opened #89 "Some namespaced class hierarchies are not realizable"
In Crystal every class must be defined after all of its base classes, but #83 now permits certain class hierarchies that cannot be realized by the current Bindgen generators, because they require reopening a namespace:

[code]

[code]

[code]

This rarely occurs in real code; a full fix might require a complete rewrite of `Graph::Container` and friends, since they impose similar restrictions on th

[2020-09-29 03:01] acoolstraw opened #93 "Drop deprecated YAML.mapping"
I was trying to generate bindings for a library and I ran into a ton of warnings about YAML.mapping, like this one:
[code]
I was able to bodge it by requiring `yaml_mapping` in the places it needs it, but Bindgen should use YAML::Serializable

[2020-09-29 03:05] acoolstraw commented on #93
Oh, and JSON::Serializable. Just got an error about that too.

[2020-09-29 13:36] acoolstraw commented on #93
I got another error, I added json_mapping too. Don't know how to fix this though.
[code]

[2020-09-30 11:00] docelic commented on #93
See #95 and #96 if they're related to this.

[2020-10-01 12:57] acoolstraw commented on #93
Yeah, they should fix it.

[2020-10-01 13:12] Papierkorb commented on #93
Cool, then I'm closing this issue. 👍

[2020-10-01 13:12] #93 closed

[2020-11-09 19:31] docelic opened #107 "Rebuilding Qt bindings for upcoming Crystal 1.0 release"
Hey @Papierkorb , @HertzDevil , it would be really nice if we planned to rebuild the Qt bindings for various versions roughly in sync with Crystal's 1.0 release.

@HertzDevil do you have a general overview of the things that you still want to add to bindgen, which directly influence the Qt bindings?
And/or @Papierkorb, do you have a list of areas in bindgen that still need improvement in relation

[2020-11-09 19:36] Papierkorb commented on #107
Version 1.0?!

Bindgen should be fine I think.  There are surely areas that need further work for the 'perfect' bindings, but for simple programs it's good enough as far bindgen is concerned.  Only thing from the top of my head would be GC "integration" of sorts.  Another qt5.cr specific issue is integration with Crystals I/O scheduling lib.  Still complex thing to do for sure, but somewhat reason

[2020-11-09 20:18] docelic commented on #107
(Yes, the next release will be 1.0, the Crystal team has decided on that already.
The rolling changelog for that release is here: https://github.com/bcardiff/crystal/blob/changelog/1.0.0-pre1/CHANGELOG.md )

[2020-11-10 00:51] HertzDevil commented on #107
Nothing special in mind, I have been ensuring that qt5.cr works on 1.0.0-dev. Personally I'd continue work on template types support but that does not have to align with Crystal itself's release timeframe.

[2021-01-08 23:21] kalinon opened #112 "Issues with container spec"
Seems aliasing is broken, unsure when it broke, but it should be reproducible with the container spec.

[code]

[2021-01-09 12:09] kalinon commented on #112
Still get these errors on other llvm versions, so i believe it may have something to do with the changes @HertzDevil may have introduced. @HertzDevil any ideas? Looks like types like `std::vector<int>` are making through as crystal code. Disabling sanity checks gets output like:

[code]

[2021-07-14 03:21] acoolstraw commented on #107
This still active?

[2021-07-14 20:51] docelic commented on #107
Hey, I can devote some time this weekend. Will post an update.

[2021-07-16 21:15] docelic commented on #107
I updated some little things in Qt 5 bindings along the way.
I guess the steps to make another release of bindgen would be to merge #76 and then do a release.
Will see over the weekend.

[2021-08-05 10:38] WhoAteDaCake opened #117 "[Question] Dealing with classes containing template arguments"
Hi, sorry, If this is a noob question. I'm trying to bind to a library, which uses chromes v8 base. The class, which is causing me problems is: `scoped_refptr` can be seen [here](https://chromium.googlesource.com/chromium/src/+/refs/heads/main/base/memory/scoped_refptr.h).

I tried adding it to classes property, but I then get:

[code]

What is the correct way to add a definition for it?.

[2021-11-12 19:11] f-fr commented on #86
I just hit exactly the same problem with the qt bindings. The memory of allocated classes is freed but their destructors are not called. And because many Qt classes use the pimpl-idiom, this means they have an internal `d`-pointer to some data and this data will be leaked. This is true even for simple classes like `QBrush` (this is where the problem hit me because I used Qt::Brush in some paint_ev

[2021-11-12 20:28] f-fr commented on #86
I created a simple implementation that seems to work, at least with the qt bindings.

[2021-11-12 22:27] docelic commented on #86
Closing due to code added in #119

[2021-11-12 22:27] #86 closed

[2022-11-14 23:56] PhitherekReborn opened #123 "Does not work with LLVM/Clang 14 and multi-LLVM setup"
There are some changes in LLVM/Clang 14 that need CPP adjustments for parser. Also, the LLVM libs finder does not work properly if multiple LLVM runtime libraries are installed (it tries to link all of them).